!!! 5
html
  head
    include head
  body
    include header
    table.table
      tr
        th URL
        th MD5
        th Hash
        th Gzip
        th Mimetype
        th Headers
        th Max Age
      for asset in assets
        tr
          td
            a(href="#{asset.specificUrl}") #{asset.url}
          td #{asset.md5}
          td #{asset.hash}
          td #{asset.gzip}
          td #{asset.mimetype}
          td #{JSON.stringify(asset.headers)}
          td #{asset.maxAge}
